# Server
PORT=8080

# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=db_exam_2251172466
DB_USER=
DB_PASSWORD=

# JWT
JWT_SECRET=your-super-secret-key-change-in-production
JWT_EXPIRATION=24h

# CORS
CORS_ORIGINS=http://localhost:3000,http://localhost:5173
